.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #00192b;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #00192b;
  text-shadow: none;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #FAFAFA;
}

h1 {
  font-weight: normal;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content h1 {
  font-size: 40px;
}

.remark-slide-content h2 {
  font-size: 35px;
}

.remark-slide-content h3 {
  font-size: 30px;
}

.left-column h2, .left-column h3, .left-column h4 {
  color: #777;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #1A292C;
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.title-slide h1  {
  color: #1A292C;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide h3  {
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #4b2e83;
  color: #4b2e83;
  height: 1px;
}

hr, .mline h1::after {
  margin: 1em 15px 0 15px;
}

.title-slide h2::after {
  margin: 10px 15px 35px 0;
}

.mline h1::after {
  margin: 10px 15px 0 15px;
}

.large{ font-size: 120% }
.huge{ font-size: 200% }
.small{ font-size: 70% }


.left {
  float: left;
  width: 45%;
}

.right {
  float: right;
  width: 45%;
}

.middler{
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
}

.pushdown{
  position: relative;
  top: 3em;
}

.remark-code, .remark-inline-code {
   font-family: 'Fira Mono', 'Lucida Console', Monaco, monospace;
   font-size: 80%;
}

.forcehead {
  font-size: 45px;
  font-weight: normal;
  margin-top: -95px;
  margin-left: -00px;
}
.sectionhead {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  font-size: 250% 
}